 
# Build results
bin/
obj/

# User-specific files (Visual Studio)
.vs/
*.user
*.suo

# Logs
*.log
Logs/
logs/

# ASP.NET Core secrets
appsettings.Development.json
secrets.json

# Publish output
publish/
*.publishsettings

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# singular files
Notes.cs

E_Commerce.UnitTests